<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.icloud.modules.small.dao.SmallSpuMapper">


    <!-- 基础map -->
    <resultMap type="com.icloud.modules.small.entity.SmallSpu" id="BaseResultMap">
     <id property="id" column="id"/>
     <result property="price" column="price"/>
     <result property="originalPrice" column="original_price"/>
     <result property="vipPrice" column="vip_price"/>
     <result property="title" column="title"/>
     <result property="sales" column="sales"/>
     <result property="img" column="img"/>
     <result property="detail" column="detail"/>
     <result property="description" column="description"/>
     <result property="categoryId" column="category_id"/>
     <result property="sellcategoryId" column="sellcategory_id"/>
     <result property="freightTemplateId" column="freight_template_id"/>
     <result property="unit" column="unit"/>
     <result property="status" column="status"/>
     <result property="supplierId" column="supplier_id"/>
     <result property="ihot" column="ihot"/>
     <result property="inew" column="inew"/>
     <result property="idiscount" column="idiscount"/>
     <result property="iselect" column="iselect"/>
     <result property="createTime" column="create_time"/>
     <result property="modifyTime" column="modify_time"/>
    <result property="stock" column="stock"/>
    <result property="freezeStock" column="freeze_stock"/>
    </resultMap>

   <!-- 基础字段列 -->
   <sql id="Base_Column_List" >
id,price,original_price,vip_price,title,sales,img,detail,description,category_id,freight_template_id,unit,status,supplier_id,ihot,inew,idiscount,iselect,create_time,modify_time
    </sql>


<select id="queryMixList" resultMap="BaseResultMap">
    select a.*,sc.title as "smallSellCategory.title" from (
    select t.*,(t.stock-t.freeze_stock) as remainStock,r.supplier_name as "smallRetail.supplierName",c.title as
    "smallRetail.title" from t_small_spu t,t_small_retail r, t_small_category c
    <where>
    t.supplier_id = r.id and t.category_id = c.id
<if test="description != null">
    and t.description = #{description}
</if>
<if test="categoryId != null">
    and t.category_id = #{categoryId}
</if>
<if test="unit != null">
    and t.unit = #{unit}
</if>
<if test="status != null">
    and t.status = #{status}
</if>
<if test="supplierId != null">
    and t.supplier_id = #{supplierId}
</if>

    <if test="title != null and title!=''">
        and t.title LIKE CONCAT('%', '${title}', '%')
    </if>
    <if test="supplierName != null and supplierName!=''">
        and r.supplier_name LIKE CONCAT('%', '${supplierName}', '%')
    </if>
    <if test="categoryTitle != null and categoryTitle!=''">
        and c.title LIKE CONCAT('%', '${categoryTitle}', '%')
    </if>

</where>
order by t.create_time desc,t.modify_time desc
) a left join t_small_sell_category sc on a.sellcategory_id = sc.id
</select>

</mapper>